
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Abril+Fatface&family=Bebas+Neue&family=Cinzel&family=Explora&family=Great+Vibes&family=Kanit:wght@100&family=My+Soul&family=Noto+Sans+KR:wght@100&family=Orbitron&family=Pacifico&family=Poppins:wght@500&family=Prompt:ital,wght@1,300&family=Sevillana&family=Spectral+SC&family=Tilt+Prism&display=swap');



/*
font-family: 'Spectral SC', serif;
font-family: 'Tilt Prism', cursive;
font-family: 'Aboreto', cursive;
font-family: 'Abril Fatface', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Cinzel', serif;
font-family: 'Explora', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Sevillana', cursive;
font-family: 'Poppins', sans-seri
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  height: 100vh;
  background-repeat: no-repeat;
  background-position:bottom right;

}
nav{
  font-family: 'Spectral SC', serif;
  display: flex;
  align-items: center;
  margin-left: 2rem;
   
}
.logo{
  justify-content: center;
  display: flex;
  align-items: center;
}
.logo i{
  font-size: 1.6rem;
  margin-left: 1rem;
  position: relative;
  top: -17px;
  left: -173px;
  transform: rotate(350deg);
  color: rebeccapurple;
}
.logo h3{
  letter-spacing: 2px;
  color: #8000c5;
}
.logo h3::first-letter{
  
  
}
.drop-main{
   display: flex;
   padding: 10px;
   align-items: center;
   text-align: center;
   justify-content: space-evenly;
   margin-left: 500px;
   width: 600px;

}
.dropdown{
  margin-left: 2rem;
    display: inline-block;
    transition:all  2s ease-in-out;
    z-index: 99;
}
.drop-content{
  text-align: center;
  top: 38px;
  position: fixed;
    margin-top: 20px;
    display: none;
    z-index: 1;
    background: #8000c5;
    transition: all 4s ease-in ;
    padding: 1rem 2rem;
  
}
.drop-content::after{
  content: "";
  position: absolute;
  width: 20px;
  top: -4px;
  transform: rotate(45deg);
  left: 10px;
  height: 20px;
  background: #8000c5;
}
.dropdown:hover .drop-content{
    display: block;


}
a{
    display: grid;
}
a{
  text-decoration: none;
}
.butn{
  background-color: transparent;
  color: rgb(128, 0, 197);
  padding: 1rem 25px;
  font-family: 'Spectral SC', serif;
  font-size: 1rem;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
position: relative;
}
.butn:hover{
  color:#848484;
}
.drop-content a{
  text-align: center;
    color: rgb(255, 255, 255);
    padding: 12px 10px;
    text-decoration: none;
    display:block;
  }
  .drop-content a:hover{
    color: rgb(33, 5, 49);
  }
  .sign{
    display: flex;
    gap: 10px;
    margin-left: 4rem;
  }
  .sign a{
    font-size: 0.9rem;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: white;
    background: #8000c5;
    padding: 0.4rem 0.8rem;
  }
.hover{
  text-align: left;
  margin-top: 1.5rem;
}
.hover a{
  color:rgb(120, 0, 185);
  text-decoration: none;
  display: inline-block;
  padding: 0.7rem 2.4rem;
 
  border:0.2px solid rgb(128, 0, 197);
  border-radius: 2px;
  position: relative;
  transition: all 0.9s ease-in-out;
  overflow: hidden;
  
}
.hover a:hover{
  transition:all 0s ease-in;
  color: white;
}
.hover a .one{
  position: absolute;
  background: rgb(128, 0, 197);
  z-index: -1;
  width: 0;
  height: 100%;
  left: 42px;
  bottom: 0;
  transition: 0.6s;
}
.hover a .two{
  position: absolute;
  background: rgb(128, 0, 197);
  z-index: -1;
  width: 0;
  height: 100%;
  right: 42px;
  bottom: 0;
  transition: 0.6s;
}
 .hover a:hover .one{
  width: 100%;
  left: 0;
  
 }
 .hover a:hover .two{
  width: 100%;
  right: 0;
 }
 main{
  display: flex;
  align-items: center;
  justify-content: center;
 }
 main h1{
  letter-spacing: 2px;
  text-align: center;
  color: #3f0b5b;
  font-family: 'Kanit', sans-serif;
}
main p{
  letter-spacing: 4px;
  text-align: center;
  color: #373737;
  font-family: 'Prompt', sans-serif;
}
 .main-form{
  padding: 1rem 2rem 0 2rem;
 }
form  {
  font-family: 'Kanit', sans-serif;
    padding: 1rem 2rem 4.9rem 2rem;
    border-radius: 17px;
    font-weight: bold;
    background: #ffffff;
    display: flex;
    border: 0.001px solid rgb(231, 231, 231);
    justify-content: space-around; 
    box-shadow: 10px 25px 30px rgba(0, 0, 0,0.08);
  }

  form input:focus{
   padding-left: 1rem;  
   font-size: 0.7rem;
   border: 0.1px solid #a600ff;
  }
  form input{
    padding: 0 1rem;
    border:0.01px solid #9f9f9f;
   color: #320f45;
    background:transparent ;
    outline: none;
  margin: 1rem 0;
  height: 47px;
  width: 600px;
  }
  ::placeholder{
    color: #9f9f9f;
  }

  .submit{
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2px;
   border: none;
   border-radius: 3px;
    padding: 0.7rem 5rem;
    background: #8000c5;
    color: white;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;
  }
  .btn{
 
    text-align: center;
    position: relative;
    top: -85px;
  }
  form .name p{
    position: relative;
    top: 13px;
    color: #420c60;
  }
.name span{
  color: red;
}